<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
th:fragment="main-fragment (title, otherStaticResources, mainContent)">
<head>
<title th:replace="${title}">Layout page</title>
<script src="common-script.js"></script>
<link rel="stylesheet" th:href="@{css/common.css}">

<th:block th:replace="${otherStaticResources} ?: ~{}"></th:block>
</head>
<body>
	<header>
		<div th:insert="~{fragments/header :: webTitle}"></div>
	</header>
	
	<section>	
		<nav>
			<a th:href="@{/userAll}"><label th:text="유저리스트"></label></a><br>
			<a th:href="@{/userSelect}"><label th:text="유저검색"></label></a><br>
			<a th:href="@{/signup.do}"><label th:text="회원가입"></label></a><br>
		</nav>
		
		<article th:insert="${mainContent} ?: ~{}">
			<p>내용은 여기로</p>
		</article>
	</section>

	<footer id=footer>
		<div th:insert="~{fragments/footer :: copy}"></div>
	</footer>
</body>
</html>
